body {
    margin: 0;
    padding: 0;
    background-color: #d7e8ff;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    margin: 1em auto;
    border-radius: 20px;
    width: 350px;
    padding: 1em;
    box-shadow: 0 1px 20px rgba(0,0,0,0.12), 0 1px 20px rgba(0,0,0,0.04);

}

.card img {
    border-radius: 10px;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
}

.description span,
.description p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.description span {
    font-size: 1.50rem;
    font-weight: 700;
    margin-top: 1em;
}

.description p {
    font-size: 1rem;
    font-weight: 400;
}